<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ruanyf.androidgame33">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=" Ex33:添加僵尸与游戏失败的判断 by 229阮耀锋"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name=".MainActivity"
                  android:label=" 33:添加僵尸"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>